<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.philip.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocalesActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".FunctionListActivity"
            android:label="@string/features"
            android:parentActivityName=".LocalesActivity" />
        <activity
            android:name=".WebsiteActivity"
            android:label="@string/title_activity_website"
            android:parentActivityName=".FunctionListActivity" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_our_story"
            android:parentActivityName=".FunctionListActivity" />
        <activity
            android:name=".PersonalityActivity"
            android:label="@string/title_activity_personality"
            android:parentActivityName=".FunctionListActivity" />
        <activity
            android:name=".ColorWheel"
            android:label="@string/title_color_wheel"
            android:parentActivityName=".PersonalityActivity" />
    </application>

</manifest>
