<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fragrancedubois.sg.fdbapp03">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/fragrancedubois"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/fragrancedubois"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocalesActivity"
            android:label="@string/locales"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FunctionListActivity"
            android:label="@string/features"
            android:parentActivityName=".LocalesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PersonalityActivity"
            android:label="@string/personality"
            android:parentActivityName=".FunctionListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".WebsiteActivity"
            android:label="@string/title_activity_website"
            android:parentActivityName=".FunctionListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_our_story"
            android:parentActivityName=".FunctionListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ColorWheel"
            android:label="@string/consultant"
            android:parentActivityName=".PersonalityActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ScreenSlideActivity"
            android:label="@string/title_color_wheel"
            android:parentActivityName=".ColorWheel"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GalleryActivity"
            android:label="@string/gallery"
            android:parentActivityName=".FunctionListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fragrancedubois.sg.fdbapp03.FunctionListActivity" />
        </activity>
        <activity
            android:name=".AppActivity"
            android:label="@string/title_activity_app"
            android:parentActivityName=".FunctionListActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fragrancedubois.sg.fdbapp03.FunctionListActivity" />
        </activity>
    </application>

</manifest>
